.about {
  background-color: #f4f4f4;
  padding-top: 40px;
  padding-bottom: 19px;
}

.about .container {
  padding-left: 66px;
  padding-right: 66px;
}

.about-list {
  display: flex;
  gap: 71px;
}

.about-item {
  text-align: center;
  flex-basis: calc((100% - 142px) / 3);
}

.about-icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
  border-radius: 50%;
  width: 67px;
  height: 67px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.about-subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
  margin-bottom: 16px;
}
.about-text {
  line-height: 1.56;
}
