<section class="cases" id="cases">
  <div class="container">
    <p class="cases-sub-title">This is what we do</p>
    <h2 class="cases-title">Business Cases</h2>
    <p class="cases-descr">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="cases-list list gallery">
      <li class="cases-item">
        <a href="./img/cases/big/bussines1-3x.jpg">
          <img
            src="./img/cases/cases1.jpg"
            alt="cases"
            width="320"
            height="214"
          />
        </a>
      </li>
      <li class="cases-item">
        <a href="./img/cases/big/bussines2-3x.jpg">
          <img
            src="./img/cases/cases2.jpg"
            alt="cases"
            width="320"
            height="214"
          />
        </a>
      </li>
      <li class="cases-item">
        <a href="./img/cases/big/bussines3-3x.jpg">
          <img
            src="./img/cases/cases3.jpg"
            alt="cases"
            width="320"
            height="214"
          />
        </a>
      </li>
      <li class="cases-item">
        <a href="./img/cases/big/bussines4-3x.jpg">
          <img
            src="./img/cases/cases4.jpg"
            alt="cases"
            width="320"
            height="214"
          />
        </a>
      </li>
      <li class="cases-item">
        <a href="./img/cases/big/bussines5-3x.jpg">
          <img
            src="./img/cases/cases5.jpg"
            alt="cases"
            width="320"
            height="214"
          />
        </a>
      </li>
      <li class="cases-item">
        <a href="./img/cases/big/bussines6-3x.jpg">
          <img
            src="./img/cases/cases6.jpg"
            alt="cases"
            width="320"
            height="214"
          />
        </a>
      </li>
      <li class="cases-item">
        <a href="./img/cases/big/bussines7-3x.jpg">
          <img
            src="./img/cases/cases7.jpg"
            alt="cases"
            width="320"
            height="214"
          />
        </a>
      </li>
      <li class="cases-item">
        <a href="./img/cases/big/bussines8-3x.jpg">
          <img
            src="./img/cases/cases8.jpg"
            alt="cases"
            width="320"
            height="214"
          />
        </a>
      </li>
    </ul>
  </div>
</section>
