<footer class="slick" id="footer">
  <div class="container">
    <div class="responsive">
      <div class="slick-wrapper">
        <h3>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam
          laudantium quis minima temporibus alias animi officiis magni neque
          eaque eveniet.
        </h3>
      </div>
      <div class="slick-wrapper">
        <h3>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam
          laudantium quis minima temporibus alias animi officiis magni neque
          eaque eveniet.
        </h3>
      </div>
      <div class="slick-wrapper">
        <h3 class="slick-title">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam
          laudantium quis minima temporibus alias animi officiis magni neque
          eaque eveniet.
        </h3>
      </div>
      <div class="slick-wrapper">
        <h3>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam
          laudantium quis minima temporibus alias animi officiis magni neque
          eaque eveniet.
        </h3>
      </div>
      <div class="slick-wrapper">
        <h3>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam
          laudantium quis minima temporibus alias animi officiis magni neque
          eaque eveniet.
        </h3>
      </div>
      <div class="slick-wrapper">
        <h3>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam
          laudantium quis minima temporibus alias animi officiis magni neque
          eaque eveniet.
        </h3>
      </div>
    </div>
  </div>
</footer>
